
*.pdb

project/\.vs/Chess/v15/\.suo

*.exe

*.ide

*.ide-shm

*.ide-wal

*.lock

*.cache

*.txt

*.resources

*.dll

*.xml

*.CopyComplete

project/ChessTest/obj/Debug/

*.config

*.coverage

*.props

*.targets

*.nupkg
